/*!

 =========================================================
 * KeepIn Custon - ConsentiDog - v0.0.1
 =========================================================

 * Develop By: http://www.keepinagency.com
 * Copyright 2021 Keepin Agency

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
.logo-normal a{
    color:#e95231 !important;
}
.stats a{
    color:#e95231 !important;
}
.table-striped a{
    color:#e95231 !important;
}
.main-panel{
    background: rgb(241,238,238);
background: linear-gradient(90deg, rgba(241,238,238,0.5) 60%, rgba(233,82,49,0.5) 100%, rgba(32,23,22,0) 100%);
}
.text-primary{
    color:#e95231 !important;
}