/*!

 =========================================================
 * Paper Kit - v2.2.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-kit-2
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

.pagination>li>a,
.pagination>li>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  background-color: transparent;
  border: 2px solid #f5593d;
  border-radius: 20px;
  color: #f5593d;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 8px 12px;
  font-weight: 600;
}

.nav-pills-default>li>a,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li.active>span,
.pagination>li.active>a:hover,
.pagination>li.active>span:hover,
.pagination>li.active>a:focus,
.pagination>li.active>span:focus {
  background-color: #66615B;
  border-color: #66615B;
  color: #FFFFFF;
}

.nav-pills-primary>li>a,
.pagination-primary>li>a,
.pagination-primary>li>span,
.pagination-primary>li:first-child>a,
.pagination-primary>li:first-child>span,
.pagination-primary>li:last-child>a,
.pagination-primary>li:last-child>span {
  border: 2px solid #51cbce;
  color: #51cbce;
}

.nav-pills-primary>li.active>a,
.nav-pills-primary>li.active>a:hover,
.nav-pills-primary>li.active>a:focus,
.pagination-primary>li>a:hover,
.pagination-primary>li>a:focus,
.pagination-primary>li>a:active,
.pagination-primary>li.active>a,
.pagination-primary>li.active>span,
.pagination-primary>li.active>a:hover,
.pagination-primary>li.active>span:hover,
.pagination-primary>li.active>a:focus,
.pagination-primary>li.active>span:focus {
  background-color: #51cbce !important;
  border-color: #51cbce !important;
  color: #FFFFFF;
}

.nav-pills-info>li>a,
.pagination-info>li>a,
.pagination-info>li>span,
.pagination-info>li:first-child>a,
.pagination-info>li:first-child>span,
.pagination-info>li:last-child>a,
.pagination-info>li:last-child>span {
  border: 2px solid #51bcda;
  color: #51bcda;
}

.nav-pills-info>li.active>a,
.nav-pills-info>li.active>a:hover,
.nav-pills-info>li.active>a:focus,
.pagination-info>li>a:hover,
.pagination-info>li>a:focus,
.pagination-info>li>a:active,
.pagination-info>li.active>a,
.pagination-info>li.active>span,
.pagination-info>li.active>a:hover,
.pagination-info>li.active>span:hover,
.pagination-info>li.active>a:focus,
.pagination-info>li.active>span:focus {
  background-color: #51bcda !important;
  border-color: #51bcda !important;
  color: #FFFFFF;
}

.nav-pills-success>li>a,
.pagination-success>li>a,
.pagination-success>li>span,
.pagination-success>li:first-child>a,
.pagination-success>li:first-child>span,
.pagination-success>li:last-child>a,
.pagination-success>li:last-child>span {
  border: 2px solid #6bd098;
  color: #6bd098;
}

.nav-pills-success>li.active>a,
.nav-pills-success>li.active>a:hover,
.nav-pills-success>li.active>a:focus,
.pagination-success>li>a:hover,
.pagination-success>li>a:focus,
.pagination-success>li>a:active,
.pagination-success>li.active>a,
.pagination-success>li.active>span,
.pagination-success>li.active>a:hover,
.pagination-success>li.active>span:hover,
.pagination-success>li.active>a:focus,
.pagination-success>li.active>span:focus {
  background-color: #6bd098 !important;
  border-color: #6bd098 !important;
  color: #FFFFFF;
}

.nav-pills-warning>li>a,
.pagination-warning>li>a,
.pagination-warning>li>span,
.pagination-warning>li:first-child>a,
.pagination-warning>li:first-child>span,
.pagination-warning>li:last-child>a,
.pagination-warning>li:last-child>span {
  border: 2px solid #fbc658;
  color: #fbc658;
}

.nav-pills-warning>li.active>a,
.nav-pills-warning>li.active>a:hover,
.nav-pills-warning>li.active>a:focus,
.pagination-warning>li>a:hover,
.pagination-warning>li>a:focus,
.pagination-warning>li>a:active,
.pagination-warning>li.active>a,
.pagination-warning>li.active>span,
.pagination-warning>li.active>a:hover,
.pagination-warning>li.active>span:hover,
.pagination-warning>li.active>a:focus,
.pagination-warning>li.active>span:focus {
  background-color: #fbc658 !important;
  border-color: #fbc658 !important;
  color: #FFFFFF;
}

.nav-pills-danger>li>a,
.pagination-danger>li>a,
.pagination-danger>li>span,
.pagination-danger>li:first-child>a,
.pagination-danger>li:first-child>span,
.pagination-danger>li:last-child>a,
.pagination-danger>li:last-child>span {
  border: 2px solid #f5593d;
  color: #f5593d;
}

.nav-pills-danger>li.active>a,
.nav-pills-danger>li.active>a:hover,
.nav-pills-danger>li.active>a:focus,
.pagination-danger>li>a:hover,
.pagination-danger>li>a:focus,
.pagination-danger>li>a:active,
.pagination-danger>li.active>a,
.pagination-danger>li.active>span,
.pagination-danger>li.active>a:hover,
.pagination-danger>li.active>span:hover,
.pagination-danger>li.active>a:focus,
.pagination-danger>li.active>span:focus {
  background-color: #f5593d !important;
  border-color: #f5593d !important;
  color: #FFFFFF;
}

.card.card-register:hover {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
}

.card-register {
  background: -prefix-linear-gradient(top, white 1%, #fa4d02 50%, #5c1d02);
  background: linear-gradient(to bottom, white 1%, #fa4d02 50%, #5c1d02);

  /*background-color: #7e5d4f; /* #FF8F5E*/
  border-radius: 8px;
  color: #fff;

  max-width: 350px;
  margin: 20px 0 70px;
  min-height: 400px;
  padding: 30px;
}

h3  {
  color: #201716 !important;
  font-weight: bold;
}

.card-register label {
  margin-top: 15px;
}

.card-register .card-title {
  color: #B33C12 !important;
  text-align: center;
}

.card-register .btn {
  margin-top: 30px;
}

.card-register .forgot {
  text-align: center;
}

.card-register .input-group-text {
  border: 1px solid #FFFFFF;
}

.register-form .form-control {
  border: 1px solid transparent !important;
}

.register-form .input-group .form-control {
  margin-left: -1px;
}

.register-form .input-group-prepend,
.register-form .input-group-append {
  border: 1px solid transparent !important;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.section-image .container {
  position: relative;
  z-index: 2;
}

.bootstrap-datetimepicker-widget {
  visibility: visible !important;
}

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */

 .sr-only,
 .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after,
 .bootstrap-datetimepicker-widget .btn[data-action="today"]::after,
 .bootstrap-datetimepicker-widget .picker-switch::after,
 .bootstrap-datetimepicker-widget table th.prev::after,
 .bootstrap-datetimepicker-widget table th.next::after {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
 }
 
 .bootstrap-datetimepicker-widget {
   list-style: none;
 }
 
 .bootstrap-datetimepicker-widget a .btn:hover {
   background-color: transparent;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu {
   padding: 4px;
   width: 16em;
 }
 
 @media (min-width: 768px) {
   .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
     width: 38em;
   }
 }
 
 @media (min-width: 992px) {
   .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
     width: 38em;
   }
 }
 
 @media (min-width: 1200px) {
   .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
     width: 38em;
   }
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
   border-bottom: 11px solid #F1EAE0;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   content: "";
   display: inline-block;
   position: absolute;
   right: 12px;
   left: auto;
   top: -12px;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
   border-bottom: 11px solid #FFFFFF;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   content: "";
   display: inline-block;
   position: absolute;
   right: 12px;
   left: auto;
   top: -11px;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.top {
   margin-top: auto;
   margin-bottom: -20px;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.top.open {
   margin-top: auto;
   margin-bottom: 5px;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
   left: auto;
   right: 6px;
 }
 
 .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
   left: auto;
   right: 7px;
 }
 
 .bootstrap-datetimepicker-widget .list-unstyled {
   margin: 0;
 }
 
 .bootstrap-datetimepicker-widget a[data-action] {
   padding: 6px 0;
   border-width: 0;
   color: #66615B;
   background-color: transparent;
 }
 
 .bootstrap-datetimepicker-widget a[data-action="togglePicker"],
 .bootstrap-datetimepicker-widget a[data-action="togglePicker"]:hover {
   color: #429cb6 !important;
 }
 
 .bootstrap-datetimepicker-widget a[data-action]:hover {
   background-color: transparent;
   color: rgba(255, 255, 255, 0.85);
 }
 
 .bootstrap-datetimepicker-widget a[data-action]:active {
   box-shadow: none;
 }
 
 .bootstrap-datetimepicker-widget .timepicker-hour,
 .bootstrap-datetimepicker-widget .timepicker-minute,
 .bootstrap-datetimepicker-widget .timepicker-second {
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-weight: 300;
   font-size: 1.5em;
   margin: 3px;
   border-radius: 50%;
 }
 
 .bootstrap-datetimepicker-widget button[data-action] {
   width: 38px;
   height: 38px;
   padding: 0;
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
   content: "Increment Hours";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
   content: "Increment Minutes";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
   content: "Decrement Hours";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
   content: "Decrement Minutes";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
   content: "Show Hours";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
   content: "Show Minutes";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
   content: "Toggle AM/PM";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
   content: "Clear the picker";
 }
 
 .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
   content: "Set the date to today";
 }
 
 .bootstrap-datetimepicker-widget .picker-switch {
   text-align: center;
   border-radius: 4px;
 }
 
 .bootstrap-datetimepicker-widget .picker-switch::after {
   content: "Toggle Date and Time Screens";
 }
 
 .bootstrap-datetimepicker-widget .picker-switch td {
   padding: 0;
   margin: 0;
   height: auto;
   width: auto;
   line-height: inherit;
 }
 
 .bootstrap-datetimepicker-widget .picker-switch td span {
   line-height: 2.5;
   height: 2.5em;
   width: 100%;
   border-radius: 4px;
   margin: 2px 0px !important;
 }
 
 .bootstrap-datetimepicker-widget table {
   width: 100%;
   margin: 0;
 }
 
 .bootstrap-datetimepicker-widget table td>div,
 .bootstrap-datetimepicker-widget table th>div {
   text-align: center;
 }
 
 .bootstrap-datetimepicker-widget table th {
   height: 20px;
   line-height: 20px;
   width: 20px;
 }
 
 .bootstrap-datetimepicker-widget table th.picker-switch {
   width: 145px;
 }
 
 .bootstrap-datetimepicker-widget table th.disabled,
 .bootstrap-datetimepicker-widget table th.disabled:hover {
   background: none;
   color: #cfcfca;
   cursor: not-allowed;
 }
 
 .bootstrap-datetimepicker-widget table th.prev span,
 .bootstrap-datetimepicker-widget table th.next span {
   border-radius: 4px;
   height: 27px;
   width: 27px;
   line-height: 28px;
   font-size: 12px;
   border-radius: 50%;
   text-align: center;
 }
 
 .bootstrap-datetimepicker-widget table th.prev::after {
   content: "Previous Month";
 }
 
 .bootstrap-datetimepicker-widget table th.next::after {
   content: "Next Month";
 }
 
 .bootstrap-datetimepicker-widget table th.dow {
   text-align: center;
   border-bottom: 1px solid #E3E3E3;
   font-size: 12px;
   text-transform: uppercase;
   color: #9A9A9A;
   font-weight: 400;
   padding-bottom: 5px;
   padding-top: 10px;
 }
 
 .bootstrap-datetimepicker-widget table thead tr:first-child th {
   cursor: pointer;
 }
 
 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover span,
 .bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch:hover {
   background: #E3E3E3;
 }
 
 .bootstrap-datetimepicker-widget table td>div {
   border-radius: 4px;
   height: 54px;
   line-height: 54px;
   width: 54px;
   text-align: center;
 }
 
 .bootstrap-datetimepicker-widget table td.cw>div {
   font-size: .8em;
   height: 20px;
   line-height: 20px;
   color: #cfcfca;
 }
 
 .bootstrap-datetimepicker-widget table td.day>div {
   height: 30px;
   line-height: 31px;
   width: 30px;
   text-align: center;
   padding: 0px;
   border-radius: 50%;
   margin: 0 auto;
   z-index: -1;
   position: relative;
 }
 
 .table-condensed .day:hover div {
   -webkit-transition: all 150ms linear;
   -moz-transition: all 150ms linear;
   -o-transition: all 150ms linear;
   -ms-transition: all 150ms linear;
   transition: all 150ms linear;
 }
 
 .bootstrap-datetimepicker-widget table td.minute>div,
 .bootstrap-datetimepicker-widget table td.hour>div {
   border-radius: 50%;
 }
 
 .bootstrap-datetimepicker-widget table td.day:hover>div,
 .bootstrap-datetimepicker-widget table td.hour:hover>div,
 .bootstrap-datetimepicker-widget table td.minute:hover>div,
 .bootstrap-datetimepicker-widget table td.second:hover>div {
   background: #E3E3E3;
   cursor: pointer;
 }
 
 .bootstrap-datetimepicker-widget table td.old>div,
 .bootstrap-datetimepicker-widget table td.new>div {
   color: #cfcfca;
 }
 
 .bootstrap-datetimepicker-widget table td.active>div,
 .bootstrap-datetimepicker-widget table td.active:hover>div {
   background-color: #68B3C8;
   color: #FFFFFF;
 }
 
 .bootstrap-datetimepicker-widget table td.active.today:before>div {
   border-bottom-color: #FFFFFF;
 }
 
 .bootstrap-datetimepicker-widget table td.disabled>div,
 .bootstrap-datetimepicker-widget table td.disabled:hover>div {
   background: none;
   color: #cfcfca;
   cursor: not-allowed;
 }
 
 .bootstrap-datetimepicker-widget table td span {
   display: inline-block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   margin: 3px 3px;
   cursor: pointer;
   border-radius: 50%;
   text-align: center;
 }
 
 .bootstrap-datetimepicker-widget table td span:hover {
   background: #E3E3E3;
 }
 
 .bootstrap-datetimepicker-widget table td span.active {
   background-color: #68B3C8;
   color: #FFFFFF;
 }
 
 .bootstrap-datetimepicker-widget table td span.old {
   color: #cfcfca;
 }
 
 .bootstrap-datetimepicker-widget table td span.disabled,
 .bootstrap-datetimepicker-widget table td span.disabled:hover {
   background: none;
   color: #cfcfca;
   cursor: not-allowed;
 }
 
 .bootstrap-datetimepicker-widget .timepicker-picker span,
 .bootstrap-datetimepicker-widget .timepicker-hours span,
 .bootstrap-datetimepicker-widget .timepicker-minutes span {
   border-radius: 50% !important;
 }
 
 .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
   height: 27px;
   line-height: 27px;
 }
 
 .input-group.date .input-group-addon {
   cursor: pointer;
 }
 
 .table-condensed>tbody>tr>td,
 .table-condensed>tbody>tr>th,
 .table-condensed>tfoot>tr>td,
 .table-condensed>tfoot>tr>th,
 .table-condensed>thead>tr>td,
 .table-condensed>thead>tr>th {
   padding: 1px;
   text-align: center;
   z-index: 1;
   cursor: pointer;
 }
 
 .bootstrap-datetimepicker-widget {
   opacity: 0;
   -webkit-transform: translate3d(0px, -10px, 0px);
   -moz-transform: translate3d(0, -10px, 0);
   -o-transform: translate3d(0, -10px, 0);
   -ms-transform: translate3d(0, -10px, 0);
   transform: translate3d(0px, -10px, 0px);
   -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
   box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
 }
 
 .bootstrap-datetimepicker-widget.top {
   -webkit-transform: translate3d(0px, 0px, 0px);
   -moz-transform: translate3d(0, 0px, 0);
   -o-transform: translate3d(0, 0px, 0);
   -ms-transform: translate3d(0, 0px, 0);
   transform: translate3d(0px, 0px, 0px);
 }
 
 .bootstrap-datetimepicker-widget.open {
   opacity: 1;
   -webkit-transform: translate3d(0, 5px, 0);
   -moz-transform: translate3d(0, 5px, 0);
   -o-transform: translate3d(0, 5px, 0);
   -ms-transform: translate3d(0, 5px, 0);
   transform: translate3d(0, 5px, 0);
   transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
 }
 
 .bootstrap-datetimepicker-widget.open.top {
   -webkit-transform: translate3d(0, -10px, 0);
   -moz-transform: translate3d(0, -10px, 0);
   -o-transform: translate3d(0, -10px, 0);
   -ms-transform: translate3d(0, -10px, 0);
   transform: translate3d(0, -10px, 0);
 }
 
 .bootstrap-datetimepicker-widget.open.top:before {
   border-top: 11px solid #DCD9D1;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   content: "";
   display: inline-block;
   position: absolute;
   right: 12px;
   bottom: -12px;
 }
 
 .bootstrap-datetimepicker-widget.open.top:after {
   border-top: 11px solid #FFFFFF;
   border-left: 11px solid transparent;
   border-right: 11px solid transparent;
   content: "";
   display: inline-block;
   position: absolute;
   right: 12px;
   bottom: -11px;
 }