<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Pet[]|\Cake\Collection\CollectionInterface $pets
 */
?>

<?php
    //foreach ($dia)

?>
<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
<select>
<?php
echo ('lelo');
echo $pets;
echo ($dia);
?>