<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Currency $currency
 */
?>
<div class="col-md-8">
    <div class="card card-user">
        <div class="card-header">
            <h5 class="card-title"><?= h($currency->name) ?></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <label><?= __('Id') ?></label>
                        <input type="text" class="form-control" disabled="" placeholder="<?= __('Id') ?>" value="<?= h($currency->id) ?>">
                    </div>
                </div>
                <div class="col-md-5 px-1">
                    <div class="form-group">
                        <label><?= __('Name') ?></label>
                        <input type="text" class="form-control" disabled="" placeholder="<?= __('Name') ?>" value="<?= h($currency->name) ?>">
                    </div>
                </div>
                <div class="col-md-5 pl-1">
                    <div class="form-group">
                        <label><?= __('Display Name') ?></label>
                        <input type="text" class="form-control" disabled="" placeholder="<?= __('Display Name') ?>" value="<?= h($currency->display_name) ?>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        <label><?= __('Created') ?></label>
                        <input type="text" class="form-control" disabled="" placeholder="<?= __('Created') ?>" value="<?= h($currency->created) ?>">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label><?= __('Modified') ?></label>
                        <input type="text" class="form-control" disabled="" placeholder="<?= __('Modified') ?>" value="<?= h($currency->modified) ?>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                    <?= $this->Html->link('<i class="fa fa-edit fa-fw"></i> '.__('Edit Currency'), ['controller' => 'Currencies' ,'action' => 'edit', $currency->id], ['class'=>'btn btn-primary btn-round', 'escape'=>false]) ?>
                </div>
            </div>
        </div>
    </div>
</div>
